@charset "utf-8";
/*
  author:  dong
  date:    2012-11-21  
*/
/* 大标题 */
.bigTit {font:20px 'Microsoft YaHei','SimSun'; color:#333; margin-bottom:20px;}
/* 详细页tip */
.mateBoxB { padding:9px 14px; background:#ffe; border:2px solid #fc6; margin-bottom:40px; position:relative;}
.mateBoxB { margin-bottom:20px;}
.mateBoxB .warningIcon { float:left;}
.mateBoxB p { color:#666; float:left;}
/* 找结伴筛选 */
.mateBox { margin-bottom:20px; background:#f5f5f5;}
.mateBox .mbCon { padding:8px 5px 8px 75px; position:relative; z-index:99;}
.mateBox .mbCon.line { border-bottom:1px solid #fff;}
.mateBox h2 {font:14px 'Microsoft YaHei','SimSun'; color:#aaa; width:65px; padding:10px 5px; position:absolute; left:0px; top:0px; top:-2px\0; *top:-2px;_top:0px; text-align:right;}
.mateBox ul li { float:left; display:inline;padding:2px 3px;}
.mateBox li a { display:block; white-space:nowrap;padding:1px 5px; color:#777;}
.mateBox li a:hover { color:#ccc;}
.mateBox li a.on { background:#3f91ce; color:#fff;}
.mateBox li a.on:hover { color:#fff; cursor:default;}
.mateBox li .w148 { width:96px; display:inline; z-index:20; background:#fff; position:relative; padding:3px 20px 3px 2px; font-size:12px;}
.mateBox li.mbSearch { position:relative; z-index:99;}
.mateBox li .searchIcon { position:absolute; right:0px; top:7px; z-index:100;}
.mateBox .mbConBT { z-index:9; position:relative;}
.mateBox .mbConMore ul { width:490px;}
.mateBox .moreBtn { display:block; padding:5px 0; text-align:center; background:#fff; border:1px solid #eee; width:50px; position:absolute; right:10px; bottom:10px; color:#999; font-size:12px;}
.mateBox .moreBtn:hover { background:#fafafa;color:#999;}
/* 找结伴 */
.mateTit {font:16px 'Microsoft YaHei','SimSun'; color:#444; padding:15px 0; position: relative; z-index: 99;}
.mateTit .showLayer {width: 240px; border: 2px solid #f9b750; background: #ffe; padding: 5px; position: absolute; top: -74px;right: 0px; color: #666; font-family: "Verdana, Geneva, sans-serif"; font-size: 12px; line-height: 1.8;}
.mateTit .showLayer .closed { color: #999; float: right;}
.mateTit .showLayer .closed:hover { color: #666;}
.mateTit .showLayerPic { position: absolute; top: -85px; right: 69px;}
.mateTit .showLayerIcon { position: absolute; right: 75px; top: 5px;}
.mateTit em { margin-right:5px;}
.mateTitS { background:#f8f8f8; padding:10px 10px 5px 10px; border-bottom:1px solid #ddd;}
.mateTitS dl { float:left; display:inline; color:#777;}
.mateTitS dl dt { padding-top:2px;}
.mateTitS dl dt,.mateTitS dl dd { float:left; display:inline; margin-right:6px;}
.mateTitS dl dd select { color:#777; font-size:12px; padding:1px 2px;}
.mateTitS strong { float:right; font-weight:100; font-family:Verdana, Geneva, sans-serif; font-size:12px;}
.mateTitS strong a.on { color:#777;cursor:default;}.mateTit strong a:hover.on { color:#777;}
.mateTitS strong span { color:#ccc; padding:0 8px;}
.mateList  li{ padding:20px 0; border-bottom:1px solid #f2f2f2;}
.useCon { width:90px; float:left; position:relative; z-index:9;}
.useCon .g_img_set { margin:0 0 9px 20px;}
.useCon .useName {  display:block; text-align:center; color:#777; margin-bottom:9px;}.useCon .useName:hover { color:#999;}
.contactHim { width:70px; height:15px; overflow:hidden; margin:0 auto;}
.contactHim dd { float:left; display:inline; padding:0 5px;}
.contactHim dd .addIconBH:hover { background-position:0px -1350px; }
.contactHim dd .letterIconH:hover { background-position:0px -1372px; }
.contactHim dd .phoneIconH:hover {background-position:0px -1393px; }
.useCon .contactHim { display:none;} 
.mateList  li:hover .useCon .contactHim { display:block;} 
.mateList .mateCon { width:530px; float:right; position:relative; z-index:98;}
.mateCon .mateName,.timePlace,.labelText { margin-bottom:10px;}
.timePlace p { float:left; display:inline; margin-right:30px; color:#777;}
.timePlace p a { color:#777;}.timePlace p a:hover { color:#aaa;}
.mateCon .mateName a {font:14px 'Microsoft YaHei','SimSun';}
.labelText span { color:#777; margin-right:15px;}
.labelText span a{ color:#777;} .labelText span a:hover{ color:#aaa;}
.llTextL { float:left;}.llTextR { float:right;}
.llTextL span { color:#ccc; margin-right:10px;}
.llTextL span.off { margin-right:0;}
.llTextR { color:#777;}.llTextR span { color:#ccc; padding:0 10px;}
.llTextL .sourceLink { margin-right:20px;}
/* 无结伴 */
.noMate { padding:30px 0;}
.noMate h2 {font:20px 'Microsoft YaHei','SimSun'; color:#333; margin-bottom:10px;}
.noMate h2 em { margin:0 5px;}
.noMate  dt,.noMate  dd{ padding-left:20px; font-size:14px; color:#666; padding-bottom:10px;}
.noMate  dd { padding-left:30px; padding-right:30px;}
/* 推荐结伴地列表 */
.recommendedList { margin-bottom:20px;}
.recommendedList li { width:190px; height:260px;float:left; display:inline; margin:0 30px 18px 0;}
.recommendedList li.last { margin-right:0px;}
.recommendedList li a,.recommendedList li a img { width:190px; height:220px; display:block; overflow:hidden;}
.recommendedList li a:hover { opacity:0.6;}
.recommendedList li div { height:40px; line-height:40px;}
.recommendedList li h3 {font: 14px 'Microsoft YaHei','SimSun'; color:#444; float:left; padding:0 5px; line-height:40px;}
.recommendedList li p { float:right; display:inline; line-height:40px; color:#999;padding:0 5px;}
.recommendedList li p em { color:#ff9c00; padding:0 5px;}
/* 发结伴 */
.recommendedText h2 { height:46px; line-height:46px; border-bottom:2px solid #61bade}
.recommendedText h2 strong {font: 16px 'Microsoft YaHei','SimSun'; color:#444;}
.recommendedText h2 a { float:right; font-weight:100;}
.recommendedText .rtCon { padding:15px; background:#f7f7f7;}
.recommendedText .rtForm span {font: 14px 'Microsoft YaHei','SimSun'; color:#444; padding:0 7px;} 
.recommendedText .rtForm .w128 { width:128px;}
.recommendedText .rtForm .w48 { width:48px;}
.recommendedText .rtForm .w248 { width:248px;}
.recommendedText .rtForm .w598 { width:590px; height:78px;}
.recommendedText .rtForm .fl { float:left; display:inline; padding-bottom:15px;}
.recommendedText .rtForm .fr { float:right; display:inline;padding-bottom:15px;}
.rtBottom .btn30B { float:right; display:inline;}
.rtBottom dl { height:30px; line-height:30px; float:left; display:inline; margin-right:10px;}
.rtBottom dl dt,.rtBottom dl dd  { float:left; display:inline;}
.rtBottom dl dt { padding:0 5px; color:#666;}.rtBottom dl dd { margin-right:5px;}
.rtBottom dl dd { margin-right:10px;}
.rtBottom .rtBText { height:28px; line-height:28px; border:1px solid #ddd; background:#fff; padding:0 20px; color:#ff9c00; float:left;display:inline;}
.rtBottom .rtBTextB { height:30px; line-height:30px;float:left; display:inline;}
.rtBottom .rtBTextB em { color:#666;}
.rtBottom .rtBTextB a { color:#999; padding:0 10px;}
.rtBottom .rtBTextB a:hover { color:#ccc;}
/* 修改结伴 */
.mmTop { height:140px; position:relative; border-bottom:1px solid #f2f2f2;}
.mmTop .mmtL { width:349px; height:100px; padding:20px 0 20px 10px; float:left; background:#fff;}
.mmTop .mmtL dt { width:100px; height:100px; overflow:hidden; position:relative; z-index:99; float:left;display:inline;margin-right:10px; }
.mmTop .mmtL dt img { cursor:default;}
.mmTop .mmtL dt .mmdtBg { width:100px; height:25px; background:#000; opacity:0.6; display:block; position:absolute; left:0px; bottom:0px; z-index:5;}
.mmTop .mmtL dt a { width:100px; height:25px; line-height:25px; text-align:center; display:block;  position:absolute; left:0px; bottom:0px; z-index:10; color:#fff;}
.mmTop .mmtL dt a:hover { opacity:0.6;}
.mmTop .mmtL dt a .modificationIcon { width:12px; height:12px; display:inline-block; background-position:0px -878px; position:relative; top:2px; *top:0px; margin-right:5px;}
.mmTop .mmtL .refreshIcon { width:12px; height:12px; display:inline-block; background-position:0px -858px; position:relative; top:2px;*top:0px;_top:2px; margin-right:5px;}
.mmTop .mmtL dd { width:220px; float:left; display:inline;}
.mmTop .mmtL dd a { color:#444;}.mmTop .mmtL dd a:hover { color:#8c8c8c;}
.mmTop .mmtL dd p { padding-bottom:3px;font:16px 'Microsoft YaHei','SimSun'; color:#777;}
.mmTop .mmtL dd p span { color:#999; font:12px 'Verdana, Geneva, sans-serif';}
.mmTop .mmtR { width:255px; height:128px; float:right; display:inline; background:#fff; padding:12px 0 0;} 
.mmTop .mmtR li { padding:4px 0; *margin-left:-10px;}
.mmTop .mmtR li label {font:12px 'Microsoft YaHei','SimSun';width:53px; display:block; float:left; text-align:right; padding-right:5px; height:30px; line-height:30px;color:#777;}
.mmTop .mmtR li .w178 { width:178px; float:left; padding:0.5em 0.3em;}
.mmTop .mmtR li p { float:left;font:12px 'Microsoft YaHei','SimSun';height:30px; line-height:30px;color:#777;}
.mmTop .mmtR li p a { margin-left:5px;}
.mmInput { padding-bottom:40px;}
.mmInput li { padding:30px 0 0px; position:relative;}
.mmInput li input { padding:0.5em 0.3em;}
.mmInput li .btn30B {font:16px 'Microsoft YaHei','SimSun';height:30px; line-height:30px; text-align:center; color:#fff; background:#309bc7; padding:0 20px; border:none;cursor:pointer; display:block;}
.mmInput li.line { padding:30px 0; border-bottom:1px solid #f2f2f2;}
.mmInput li.cityP { z-index:999}
.mmInput li .cityList { top:53px;}
.mmInput li .cityListOn { left:100px; z-index:98;} 
.mmInput li label { font:14px 'Microsoft YaHei','SimSun'; color:#444;width:75px; display:block; height:28px; line-height:28px; padding-right:5px; text-align:right; float:left;}
.mmInput li .mmItext { padding:0 7px; font:14px 'Microsoft YaHei','SimSun'; color:#444;}
.mmInput li .mmIprompt { padding:5px 20px; background:#fff; border:1px solid #ff9c00; color:#ff9c00; margin-left:15px; position:relative; z-index:9; top:0px; *top:-8px; _top:-7px;}
.mmInput li .timeB { position:absolute; top:34px; left:255px; padding:0 7px;}
.mmInput li .w598 { width:530px;}
.mmInput li  .w200 { width:200px;}
.mmInput li .w128 { width:128px;}
.mmInput li .w248 { width:248px; position:relative; z-index:100;}
.mmInput li .w48 { width:48px;}
.mmInput li .h138 { height:138px;}
.mmInput li.pl100 { padding:30px 0 0 0px;}
.mmInput li.pt0 { padding:0px 0 0 80px; _padding:0px 0 0 83px;}
.mmInput li.pt10 {padding:10px 0 0 100px; _padding:10px 0 0 103px;}
.mmInput li .labelList { float:left; display:inline; width:460px; padding: 10px 0 0 80px;}
.mmInput li .labelList .mmTbtn { margin:0 3px 0 0;}
.mmInput li .labelList span{ font:14px 'Microsoft YaHei','SimSun';display:inline-block; padding:8px; background:#f7f7f7; color:#555; border: 1px solid #bababa; margin:1px 10px 5px 0;}
.mmInput li .labelList span.mmSet { padding:0px; background:none;border-radius:0px; border-bottom:none; padding-left:5px;}
.mmInput li .labelList span .closed {background-position: 0 -2180px;display: inline-block; height: 12px; margin-left: 3px;vertical-align: -2px;width: 12px;}
.mmInput li .labelList input.addCity { width: 110px; background: #f7f7f7; border: 1px  dashed #bababa; text-align: center; padding: 8px;}
.mmInput li .labelList p { color: #666; padding-top: 5px;}
.mmInput li.pl100 dl { height:30px; line-height:30px; float:left; display:inline; margin-right:10px;}
.mmInput li.pl100 dl dt,.mmInput li.pl100 dl dd  { float:left; display:inline;}
.mmInput li.pl100 dl dt { padding:0 5px; color:#666;}.rtBottom dl dd { margin-right:5px;}
.mmInput li.pl100 dl dd { margin-right:10px;}
.mmInput li.pl100 .rtBTextB { height:30px; line-height:30px;float:left; display:inline;}
.mmInput li.pl100 .rtBTextB em { color:#666;}
.mmInput li.pl100 .rtBTextB a { color:#999; padding:0 10px;}
.mmInput li.pl100 .rtBTextB a:hover { color:#ccc;}
.mmInput li.pl100 .rtBText { height:28px; line-height:28px; border:1px solid #ddd; background:#fff; padding:0 20px; color:#ff9c00; float:left;display:inline;}
.mmInput li .mmUpload { background:#f7f7f7; padding:10px 15px; width:510px; margin-bottom:1px; position:relative; z-index:9;}
.mmInput li .mmUpload .muUpload { position:absolute; top:5px;left:-100px/0;*left:-100px; _left:0px; left:0px; width:130px; text-align:right; font-size:18px;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";  filter:alpha(opacity=0);-moz-opacity:0;opacity:0; cursor:pointer;}
.mmInput li .mmUpload .mmUR { float:right; color:#777;}
.mmInput li .mmUpload em { color:#777; position:relative; cursor:pointer; line-height: 30px;}.mmInput li .mmUpload strong { font-weight:100; color:#999;}
.mmInput li .mmUpload em img { width:30px; height:30px; overflow:hidden; display: block; float: left; margin-right:10px; }
.mmInput li .mmUpload em:hover { color:#ff9c00;}
.mmInput li .mmUpload em:hover img{ display:block;}
.mmInput li .fr { float:right;}
.mmInput li .WBfxJ,.mmInput li .QQfxJ { cursor:pointer;}
.mmInput li .WBlogin {background-position:0px -960px;}
.mmInput li .QQlogin {background-position:0px -988px;}
.mmInput li .WBfxJ:hover,.mmInput li .QQfxJ:hover { opacity:0.6;}
.mmInput li .mmUdel { cursor:pointer;}
.mmInput li .mmUdel:hover { opacity:0.6;}
.mmInstructions { width:280px; position:absolute; right:-330px; top:30px;}
.mmInstructions p {font:14px 'Microsoft YaHei','SimSun'; color:#666; padding-bottom:10px;}
.mmInstructions p a { margin-left:5px;}
.mmTrip { width:510px; background:#f7f7f7; padding:15px; border:1px solid #f2f2f2; margin:15px 0 0 80px; position:relative;}
.mmTrip .mmTripL {float:left; display:inline; width:133px;}
.mmArrowR { width:17px; height:16px; display:block; background-position:0px -1843px; float:right; margin:7px 10px 0 10px}
.mmTbtn { display:block; padding:5px 13px; float:left; display:inline;font:14px 'Microsoft YaHei','SimSun'; color:#666; background:#eee; border-radius:4px; border-bottom:1px solid #ddd; padding:5px 11px;}
.mmInput li .mmTbtnRed {border:1px solid #f00; color:#f00;}
.mmTbtn:hover { color:#666; background:#ddd}
.mmTrip .mmTripR { float:left; display:inline; width:377px;}
.mmClose { width:16px; height:16px; overflow:hidden; display:block; background-position:0px -1870px;}
.mmTripList { float:left;}
.mmTripList li { position:relative;padding:5px 13px; float:left; display:inline;font:14px 'Microsoft YaHei','SimSun'; color:#fff; background:#ffc046; border-radius:4px; border-bottom:1px solid #e19f20; margin:0 10px 10px 0;}
.mmTripList li .mmClose { position:absolute; top:50%; right:-8px; margin-top:-8px; display:none;}
.mmTripList li:hover .mmClose { display:block;} 
.mmTripList li.mmSet { padding:0px; background:none;border-radius:0px; border-bottom:none;}
.mmTripList li.mmSet .setIcon { position:relative; top:5px;}
.mmInput .youContact h2,.mmInput .uploadShow h2 {font:14px 'Microsoft YaHei','SimSun'; color: #999; padding-left: 20px;padding-bottom: 15px;}
.mmInput .youContact h2 em,.mmInput .uploadShow h2 em { color: #444; font-size: 16px; }
.mmInput .youContact dl dd strong { width: 75px; display: block; text-align: right;font:14px 'Microsoft YaHei','SimSun'; color: #444; float: left; line-height: 30px;}
.mmInput .youContact dl dd { float: left; display: inline; margin-right:20px; padding-bottom: 15px; width: 290px;}
.mmInput .uploadShow li { padding: 0px; z-index: 9; width: 108px; height: 108px; overflow:  hidden; background: #000; border: 1px solid #e1e1e1; float: left; display: inline; margin: 0 16px 15px;}
.mmInput .uploadShow li img { width:108px; height:108px; display:block;}
.mmInput .uploadShow li.last { margin-right:0px;}
.mmInput .uploadShow li .delPhoto { display:none;font:14px 'Microsoft YaHei','SimSun';color:#fff;  position: absolute; bottom: 5px; right: 5px;}
.mmInput .uploadShow li .delPhoto:hover { color: #fff;}
.mmInput .uploadShow li .uploadInput { position: absolute; z-index: 9; top: 0px; left: 0px;  height: 100px;  width:100px;  opacity: 0; border: none;  cursor: pointer;}
.mmInput .uploadShow li.showLoad { background: #f7f7f7;}
.mmInput .uploadShow li.showLoad img { width: 52px; height: 52px; position: absolute; z-index:9; top:25px; left: 30px;}
/* 发结伴层 */
.mmChooseBox { padding:10px 13px;}
.mmChooseBox .mmTripB {background:#f7f7f7; padding:15px 15px 15px 140px; border:1px solid #f2f2f2; position:relative; margin-bottom:15px;}
.mmTthemeBox .mmTripB { padding:15px;}
.mmChooseBox .mmTripB li { float:left; display:inline;margin: 0 10px 10px 0; height:30px; overflow:hidden;}
.mmChooseBox .mmTripB li.mmTF,.mmChooseBox .mmTripB li.mmTS { margin:0px; position:absolute;}
.mmChooseBox .mmTripB li.mmTF { top:15px; left:15px;}
.mmChooseBox .mmTripB li.mmTS { top:15px; left:103px; }
.mmChooseBox .mmTripB .mmTinput { border:2px dotted #ccc; background:#fff; padding:3px 2px;font:14px 'Microsoft YaHei','SimSun'; color:#666; float:left; width:80px; display:none;}
.mmChooseBox .mmTripB .mmTinputRed {border:2px dotted #f00;}
.mmChooseBox .mmTripB .mmTinputB {padding:5px 13px;font:14px 'Microsoft YaHei','SimSun'; color:#fff; background:#ffc046; border-radius:4px; border-bottom:1px solid #e19f20; display:block; text-align:center;}
.mmTthemeBox .mmTripB .mmTinputB {padding:5px 13px;font:14px 'Microsoft YaHei','SimSun';  background:#e1ecf4; color:#518ca8; border-bottom:none; border-radius:0px; display:block; text-align:center;}
.mmChooseBox .mmTripB li.mmTF .mmTinputB { width:64px; overflow:hidden; white-space:nowrap;}
.mmChooseBox .mmTripB li.last .mmTinput{ display:block;}
.mmChooseBox .mmTripB li.last .mmTinputB { display:none;}
.mmChooseBox .mmTripH { padding-left:108px; position:relative;}
.mmChooseBox .mmTripH h2 {font:14px 'Microsoft YaHei','SimSun'; color:#666; position:absolute; left:10px; top:0px;}
.mmChooseBox .mmTripH ul li { float:left; font:14px 'Microsoft YaHei','SimSun'; margin:0 10px 10px 0; display:inline;}
.mmChooseBox .btn25B { float:right; margin-top:10px;}
/* 详细页左 */
.colDate,.colLabel { margin-bottom:30px;}
.colDate li span { margin-right:10px;}
.colDate li { color:#999; padding-bottom:10px;}
.colDate li a {color:#999;}
.colDate li a:hover {color:#ff9c00;}
.colLabel h2 { color:#444; padding-bottom:5px;}
.colLabel ul li { float:left; display:inline; color:#999; padding:5px 10px 0 0;}

/* 详细页 */ 
.colTit h2{font:20px 'Microsoft YaHei','SimSun'; color:#444; margin-bottom:15px;}
.colBox { margin-bottom:40px;}
.colBox .g_img_50 { float:left; display:inline; margin:10px 10px 0 10px;}
.colBox .g_img_50 img { width:50px; height:50px; overflow:hidden;}
.colBox .colBoxL { width:280px; float:left; display:inline; border:1px solid #eee; border-radius:6px;}
.colBox .colBoxR { width:330px; float:right; display:inline;}
.colBox .colBoxB { width:630px; float:left; padding-top:30px;}
.colBox .cbrUser { border-bottom:1px solid #f2f2f2; padding-bottom:15px; margin-bottom:15px;}
.colBox .colBoxL dl { width:209px; margin:10px 0 0 0; float:left;}
.colBox .colBoxL dl dt { margin-bottom:5px;}
.colBox .colBoxL .cuName {font:16px 'Microsoft YaHei','SimSun'; margin-right:20px;}
.colBox .colBoxL .sfA { margin-bottom:5px;}
.colBox .colBoxL .sfA em,.colBox .colBoxL .sfA span { margin-left:8px; color:#999;}
.colBox .colBoxL .sfA .sex_a,.colBox .colBoxL .sfA .sex_b { width:13px; height:13px; display:inline-block; margin-left:0px; position:relative; top:2px;}
.colBox .colBoxL .sfA .sex_a { background-position:0px -63px;}
.colBox .colBoxL .sfA .sex_b { background-position:0px -184px;}
.colBox .colBoxL .sfB p{ color:#ccc;}
.colBox .colBoxL ul { float:left; height:68px; margin-top:10px;}
.colBox .colBoxL ul li{ width:92px; height:68px; float:left; display:inline; background:#efefef;}
.colBox .colBoxL ul li:hover { background:#989898;}
.colBox .colBoxL ul li.sfD:hover {border-radius:0px 0px 0px 6px;}
.colBox .colBoxL ul li.sfE:hover {border-radius:0px 0px 6px 0px;}
.colBox .colBoxL ul li.sfC { margin:0 2px;}
.colBox .colBoxL ul li a {width:92px; height:68px; display:block; text-align:center;}
.colBox .colBoxL ul li a em {font:12px 'Microsoft YaHei','SimSun'; color:#999;}
.colBox .colBoxL ul li:hover a em { color:#fff;}
.colBox .cbrUser .cuOld { color:#ccc; font-weight:100;}
.colBox .cbrUser .contactHim { float:right;}
.colBox .sighCon { width:605px; background:#f7f7f7; padding:10px 0 10px 10px; border-left:15px solid #ff9c00;font:14px 'Microsoft YaHei','SimSun'; color:#444; margin-bottom:20px; float:left; margin-top:-10px;}
.colBox .colBoxB .dcText { padding:0 0 20px;}
.colBox .colBoxB .dcText img { cursor:default;}
.colBox .colBoxB .dcText p {font:14px 'Microsoft YaHei','SimSun'; color:#444; line-height:2em; font-size:14px;}
.colBox .colBoxR .timePlace p { display:block; margin-right:0px; float:none; margin-bottom:20px;}
.colBox .colBoxR .timePlace p.plrCon { padding-left:23px;}
.colBox .colBoxR .timePlace p.plrCon a {margin:0 10px 5px 0;}
.colBox .colBoxR .timePlace p.plrCon .placeR { margin-left:-23px; margin-right:4px;}
.colBox .colBoxR .icLabel { margin-bottom:20px;}
.colBox .colBoxL ul li .sxB { width:36px; height:26px; display:block; background-position:0px -819px; margin:10px auto 5px;}
.colBox .colBoxL ul li:hover .sxB { background-position:0px -855px; }
.colBox .colBoxL ul li .ckB {width:36px; height:26px; display:block; background-position:0px -891px; margin:10px auto 5px;}
.colBox .colBoxL ul li:hover .ckB { background-position:0px -933px;}
.colBox .colBoxL ul li .lyB { width:38px; height:32px; display:block; background-position:0px -975px; margin:10px auto 0px;} 
.colBox .colBoxL ul li:hover .lyB { background-position:0px -1017px;}
.dTabP { margin-bottom:20px;}
   /* 分享 */
   .dTab .share { float:left; display:inline; height:30px; line-height:30px;} 
   .dTab .share dt,.dTab .share dd { float:left; display:inline;}
   .dTab .share dt { padding-right:5px; color:#777;}.dTab .share dd { margin-right:10px;}
   .dTabR { float:right; display:inline; height:30px;}
   .dTabR .dTabRBtn { padding:5px 15px; background:#fae9da; color:#ca6445; border:none; cursor:pointer; font-family:Verdana, Geneva, sans-serif; font-size:12px;}
   .dTabR .dTabRBtn:hover { background:#e65348; color:#fff;}
   .dTabR .dTabRText { height:30px; padding:8px 0 0; color:#74c139; width:140px; text-align:right;}
   .dTabR .dTabRText a { color:#ccc; margin-left:15px;}
   .dTabR .dTabRText a:hover { color:#ff9c00;}
   /* 回复信息 */
   .replyTit { padding:20px 0; border-bottom:1px solid #f2f2f2;}
   .replyTit strong {font:16px 'Microsoft YaHei','SimSun'; color:#444;}
   .replyTit a { float:right; font-weight:100;}
   .replyTit span { float:right; font-weight:100; color:#999; margin-right:20px;}
   .replyTit span input { position:relative; top:3px; margin-right:5px; border:none;}
   .reply li { padding:20px 0 0;}
   .reply .replyMain { width:560px; float:right;}
   .reply li .g_img_set { float:left; display:inline;}
   .reply li .rmTime em{ display:none;}
   .reply li:hover .rmTime em{ display:block;}
   .reply .rmTime span { color:#ccc; float:left;}.reply .rmTime a { float:right;}
   .reply .rmTime span.off { float:right;}
   /* 回复框 */
   .replyBox { padding:20px 0 0;}
   .replyBox .rtForm .w598 { width:590px;}
   .responseText { color:#777; padding:10px; background:#f0f0f0; margin-bottom:15px; position:relative;}
   .responseText .cancelLink { color:#666; position:absolute; right:6px; top:11px;}
   .responseText .cancelLink:hover { color:#ff9c00;}
/* 详细页右 */ 
.colInterest { margin-bottom:40px;} 
.colInterest h2 {font:16px 'Microsoft YaHei','SimSun'; color:#444;padding-bottom:10px;}
.colInterest h2 a { float:right; font-family:Verdana, Geneva, sans-serif; font-size:12px; font-weight:100;}
.colInterest li { float:left; display:inline; padding:5px 18px 10px 0;}
.colInterest li.last { padding:5px 0 10px 0;}
.hotList { margin-bottom:20px;}
.hotList h2 { font: 16px 'Microsoft YaHei','SimSun'; color:#444;}
.hotList li { padding:10px 0 10px;}
.hotList li h3 a {font: 14px 'Microsoft YaHei','SimSun'; line-height:1.5;}
.hotList li p { color:#999;padding-top:5px;}
/* 求结伴层 */
.words { font-size:14px;}
.findBox { padding:5px 3px;}
.findBox ul { margin-bottom:15px;}
.findBox h3 {color: #333;font-size: 14px;font-weight:100; margin-bottom:10px;}
.findBox .w720 { width:720px;}
.findBox .btn25B { margin:15px 0 0 324px;}
.findBox .wordsF,.findBox .intentionF {border:1px solid #f60;box-shadow: 0 0 5px #f60;}
.findBox textarea:focus {border:1px solid #59b9ed;box-shadow: 0 0 5px #59b9ed;}
.findOkBox {padding:10px;}
.findOkBox p { font-size:14px; color:#666;}
/* 城市选择 */
.cityList {width:110px;position:absolute; top:23px; border:none; left:-9999em;}
.cityListOn { left:3px;background:#fff; border:1px solid #bababa; z-index:10} 
.cityListOn dt {padding:5px 9px; font-size:12px; font-weight:bold; color:#666;}  
.cityListOn dd { padding:5px 10px; font-size:12px; color:#999; cursor:pointer; overflow:hidden;} 
.cityListOn dd em { float:left;}.cityListOn dd span { float:right; padding:0px;}
.cityListOn dd:hover { background:#59b9ed; color:#fff;}.cityListOn dd:hover span { color:#fff;}
/* 结伴删除 */
.pageDel { position:relative;}
.pageDel h2{font:18px 'Microsoft YaHei','SimSun'; color:#666; margin-bottom:10px; position:absolute; top:160px; left:50%; margin-left:-60px;}
.pageDel p {position:absolute; top:190px;left:50%; margin-left:-60px;}
.pageDel p span { color:#777; margin-right:15px;}
.pageDel .warningBIcon {position:absolute; top:155px; left:50%; margin-left:-110px;}
/* 编辑分组层 */
.groupBBox { padding:10px 13px;}
.groupBBox dl { padding:5px 0;}
.groupBBox dt { font-size:12px; color:#666; float:left; height:26px; line-height:26px; width:60px; text-align:right;}
.groupBBox dd { float:left;}
.groupBBox dd .w200 { width:200px; height:18px; line-height:18px;}
.tellBox dt { color:#666; font-size:14px;}
.tellBox dd {height:26px; line-height:26px; color:#333; font-size:14px;}
.tellBox dd span { margin-left:5px; color:#999;}
.tellBox dd em { margin-left:5px; color:#f60;}
/* 想结伴的人 */
.asideBack { margin-bottom:20px;}
.asideBack a {font:16px 'Microsoft YaHei','SimSun';}
.bigTitB { padding:10px 0 20px; border-bottom:1px solid #f2f2f2;}
.bigTitB strong {font:16px 'Microsoft YaHei','SimSun'; color:#444; margin-right:20px;}
.bigTitB span { color:#ccc; font-weight:100;}
.interestList .g_img_set { float:left; display:inline; margin-right:15px;}
.interestCon { width:405px; float:left; display:inline; padding-right:15px;}
.icName,.mateText { margin-bottom:10px;}
.icName .icNameL {font:14px 'Microsoft YaHei','SimSun'; margin-right:15px;}
.icName span { color:#ccc; margin-right:15px;}
.icNameBg { padding:5px 10px; background:#f5f5f5; overflow:hidden; white-space:nowrap; margin-bottom:16px;}
.interestList li .icName .letterIcon { position:relative; top:2px; *top:0px; z-index:999; cursor: pointer; visibility:hidden; _visibility:inherit;}
.interestList li:hover .icName .letterIcon { visibility:visible;}
.icName .letterIcon:hover { opacity:0.6;}
.mateText a,.mateText{ color:#777;}
.rmtReply { padding-left:15px; border-left:2px solid #dedede;}
.rmtReply .rmtUser { color:#3f91ce; margin-left:15px;}
.rmtReply .rmtUser:hover {color:#ff9c00;}
.mateText a:hover { color:#999;}
.icLabel a{ color:#777; padding:5px 10px; background:#f7f7f7; float:left; display:block; margin:0 2px 2px 0;}
.icLabel a:hover { background:#f1f1f1;}
.icContact { width:229px; float:right; display:inline; border-left:1px solid #dedede; padding-left:15px;}
.icContact dd { margin-bottom:10px;}.icContact dd.last { margin-bottom:0px;}
.icContact dd strong { width:40px; font-weight:100; color:#444; text-align:right; padding-right:5px; display:block; float:left;}
.icContact dd p { float:left; display:inline;  color:#444;white-space:nowrap; overflow:hidden;}.icContact dd p span { color:#ccc;}
/* 热门目的地 */
.hotCity li { width:168px; height:220px; overflow:hidden; float:left; display:inline; margin:10px 10px 10px;}
.hotCity li a { text-align:center; display:block; font-size:16px; color:#666;}
.hotCity li a:hover { color:#f60;}
.hotCity li a:hover img { opacity:0.6;}
/* 联系方式层 */
.groupBBox { padding:10px 13px;}
.groupBBox dl { padding:5px 0;}
.groupBBox dt { font-size:12px; color:#666; float:left; height:26px; line-height:26px; width:60px; text-align:right;}
.groupBBox dd { float:left;}
.groupBBox dd .w200 { width:200px; height:18px; line-height:18px;}
.tellBox dt { color:#666; font-size:14px;}
.tellBox dd {height:26px; line-height:26px; color:#333; font-size:14px;}
.tellBox dd span { margin-left:5px; color:#999;}
.tellBox dd em { margin-left:5px; color:#f60;}
/* 提示 */
.mmTop .mmTip { border:2px solid #fc6; background:#ffe; width:150px; padding:5px 20px 5px 5px; position:absolute; right:-165px; top:15px; color:#666;}
.mmTop .mmTip .arrowIconOL { position:absolute; top:10px; left:-5px;}
.mmTop .mmTip .close { color:#333; position:absolute; right:5px; top:5px;}.mmTop .mmTip .close:hover { color:#ff9c00;}
/* 智慧旅行箱 */
.suitcase { margin-bottom:20px;}
.suitcase h2 { color: #444;font: 16px 'Microsoft YaHei','SimSun';margin-bottom: 10px;}
.suitcase li { width:140px; height:100px; float:left; display:inline; margin:5px 10px 5px 0; cursor:pointer; overflow:hidden;}
.suitcase li a { width:140px; height:100px; display:block; background:none; float:left; color:#fff;}
.suitcase li a:hover { color:#fff;}
.suitcase li.last { margin:5px 0 5px 0;}
.suitcase li.bgA { background:#8ddc66;}
.suitcase li.bgB { background:#3790be;}
.suitcase li.bgC { background:#ec6764;}
.suitcase li.bgD { background:#e7a947;}
.suitcase li:hover{ opacity:0.6;}
.suitcase li p { color:#fff; text-align:center; padding:0 15px;}
/* 找结伴广告 */
.mateAdv { background:#fafafa; border-top:1px solid #fff; padding:0 15px 15px; position:relative;}
.mateAdv ul li { padding:15px 0 5px;}
.mateAdv ul li h2,.mateAdv ul li h2 a {font: 14px 'Microsoft YaHei','SimSun';}
.mateAdv ul li h2 { margin-bottom:5px;}
.mateAdv ul li p,.mateAdv ul li p a { color:#999; line-height:1.8;}
.mateAdv ul li p a:hover { opacity:0.6;}
.mateAdv .advIcon {position:absolute; right:15px; top:15px;height:16px;}
.mateAdv .advIcon:hover { opacity:0.6;}
/* 验证码 */
.vCode { width:160px; float:right; display:inline;}
/* 召集令 */
.callUpTop { float: none; margin-bottom: 0px; padding-bottom: 30px; display: block;}
.callUpTop dt{ width: 50px; height: 50px; overflow: hidden; float: left; }
.callUpTop dd { width: 570px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; float: right;}
.callUpTop dd.name {font: 16px 'Microsoft YaHei','SimSun'; padding-bottom: 8px;}
.callUpTop dd.text {font: 14px 'Microsoft YaHei','SimSun'; color: #999;}
.callUpContent { padding: 30px 0;}
.callUpContent img { cursor: default;}
.callUpContent p {font: 14px 'Microsoft YaHei','SimSun'; color: #555; padding-bottom: 30px; line-height: 1.8;}
.callUpContent h3 {font: 16px 'Microsoft YaHei','SimSun'; color: #444; padding-bottom: 20px; border-bottom: 1px solid #ddd; margin-bottom: 20px;}
/* 切换标签 */
.cuTit { height: 48px; line-height: 48px; border-bottom: 1px solid #ddd;}
.cuTit a { margin: 0 40px 0 0;}
.cuTit a,.cuTit a:hover {font: 14px 'Microsoft YaHei','SimSun'; color: #999;}
.cuTit a.on {font: 16px 'Microsoft YaHei','SimSun'; color: #333;}
/* 右边栏 */
.callUpR { margin-bottom: 40px; position: relative; z-index: 9; height: 37px;}
.callUpR  .cufxIcon {float: left; margin-right:14px; }
.callUpR  .cufxIcon:hover,.callUpR .btn37H:hover { opacity: 0.8;}
.callUpR .btn37G,.callUpR .btn37B,.callUpR .btn37H{ float: left; width: 106px; padding: 0px;}
.callUpR .btn37B:hover,.callUpR .btn37H:hover { color: #fff;}
.callUpR .btn37H { background: #bbb;}
.callUpR .btn37H img { position: relative; z-index: 9; top: 5px; margin-right:5px; }
.callUpR .btn37B,.callUpR .btn37H  { float: right;}
.callUpR ul { padding: 3px 0px 6px; border: 1px solid #e0e0e0; background: #fff; position: absolute; top: 34px; left: 0px; display: none;}
.callUpR ul .QQIcon { width:16px; height: 16px; display: inline-block; background-position: 0px -1070px; position: relative; top: 2px; margin-right:8px; }
.callUpR ul .XLIcon { width:21px; height: 16px; display: inline-block; background-position: 0px -1043px; position: relative; top: 2px;margin-right:4px;}
.callUpR ul li a { font: 14px 'Microsoft YaHei','SimSun';display: block; padding: 2px 5px; color: #444;}
.callUpR ul li a:hover { color: #444; background: #f0f0f0;}
/* 悬浮层 */
.cuLayer { height: 49px; background: #f8f8f8; border-bottom: 1px solid #ddd; position: fixed; top: 0px; left: 0px; width: 100%; z-index: 9999; display: none;}
.cuLayerCon { width: 960px; margin: 0 auto;background: #f8f8f8;height: 49px;}
.cuLayerCon .cuTit { width: 630px; float: left; display: inline; border-bottom: none;}
.cuLayerCon .callUpR { width: 280px; float: right; padding-top: 5px;}
/* 报名层 */
.toSignUpBox { padding: 10px;}
.toSignUpBox p { color: #999; padding-bottom: 10px;}
.toSignUpBox li { padding: 10px 0; overflow: hidden;}
.toSignUpBox .w248 { width: 248px; float: left;}
.toSignUpBox strong { width: 95px; color: #333; text-align: right; float: left; font-weight: 100; line-height: 28px;}
.toSignUpBottom { padding-top: 20px;}
.toSignUpBottom  span { float: left; display: block; line-height: 30px; color: #c00;}
.toSignUpBottom .btn30B { float: right; display: inline;}
/* 图片展示 */
.picLight { margin-bottom: 40px; background: #f8f8f8; padding: 30px 45px;}
.picLight .preNext { width: 32px; height: 48px;position:absolute;top:10px;cursor:pointer; overflow: hidden;}
.picLight .pre{ background-position:0px -1157px;top:80px; left: -38px; }
.picLight .next{background-position:0px -1329px; top:80px; right: -38px;}
.picLight .pre:hover { background-position:0px -1271px;}
.picLight .next:hover { background-position:0px -1216px;}
#focus { width: 190px; height: 250px; position:relative; z-index: 9}
#focus .focusCon {width: 190px; height: 250px; overflow: hidden; position:relative;}
#focus ul{height:250px;position:absolute;}
#focus ul li{float:left;width:190px;height:250px;overflow:hidden;position:relative;background:#f8f8f8;}
#focus ul li div{position:absolute;overflow:hidden;}
#focus ul li a img { width: 190px;height: 220px; overflow:  hidden; display: block;}
#focus .fcText { height: 30px; line-height: 30px; width: 190px; z-index: 9999;}
#focus .fcText .linkA { font: 14px 'Microsoft YaHei','SimSun'; color: #666; width: 120px; display: block; font-weight: 100; white-space: nowrap; text-overflow: ellipsis; float: left; line-height: 30px; overflow:  hidden;}
#focus .fcText .linkA:hover { color: #666;}
#focus .fcText .linkB { float: right; display: block;}
/* 照片列表切换 */
.tabCon { width: 105px; height: 25px; float: right;}
.tabCon a { display: block; width: 49px; height: 25px; display: block; text-align: center; background: #f1f1f1; border: 1px solid #dfdfdf; float: left;}
.tabCon a.tabL { border-radius: 4px 0 0 4px; border-right:none; }
.tabCon a.tabR { border-radius: 0 4px 4px 0;border-left:none; }
.tabCon a.on { background: #91cbe2; border: 1px solid #61bade; cursor: default;}
.tabCon a.on .picListIcon { background-position: 0px -2116px;}
.tabCon a.on .textListIcon {background-position: 0px -2098px;}
/* 照片模式 */
.matePicList { padding-top: 20px;}
.matePicList li { width: 190px; height: 301px; border: 1px solid #d8d8d8; float: left; display: inline; margin: 0 15px 15px 0; padding: 4px;}
.matePicList li.on {border: 2px solid #61bade; padding: 3px;}
.matePicList li.last { margin-right:0px; }
.topPic { width: 190px; height: 190px; overflow: hidden; position: relative; z-index: 9; margin-bottom:10px; }
.topPicLink,.topPicLink img { width: 190px; height: 190px; overflow: hidden; display: block;}
.topPic .likePic,.topPic .notLikePic { position: absolute;right: 5px; bottom: 5px;}
.topPic .likePic { width:32px; height: 32px; overflow:  hidden; position: absolute; background-position: 0px -1384px; display: block; }
.topPic .likePic:hover {background-position: 0px -1461px;}
.topPic .notLikePic { height: 24px; line-height: 24px; color: #fff; font-size: 14px; background: #adadad; border: 4px solid #fff; display: block; border-radius: 20px; padding: 0 10px;}
.topPic .notLikePic:hover { color: #fff; opacity: 0.9;}
.topPic .notLikePic .notLikePicIcon { width: 16px; height: 14px; overflow: hidden; display: inline-block; margin-right:5px; background-position: -5px -1434px; position: relative; top: 2px;}
.mplDl { padding-bottom: 10px;}
.mplDl dt{ float: left; display: inline; }
.mplDl dd { width: 139px; float: right; display: inline;}
.mplDl dd.name { padding-bottom: 5px;}
.mplDl dd.name a { color: #b5b5b5;}
.mplDl dd .sex_a,.mplDl dd .sex_b{width:13px; height:13px; display:inline-block; margin-right:5px; position:relative; top:2px;}
.mplDl dd .sex_a { background-position:0px -63px;}
.mplDl dd .sex_b {background-position:0px -184px;}
.mplDl dd em { color: #999;}
.matePicList .bottomText { border-top:1px solid #f6f6f6; }
.matePicList .bottomText p { padding: 4px 5px 0; color: #777;}
.matePicList .bottomText p a { color: #777; padding-right: 5px;}
.matePicList .bottomText p a:hover { color: #777;}
/* 发布成功层 */
.fbOkBox dl { padding: 0 10px 0 50px;}
.fbOkBox dt { width: 43px; height: 50px; overflow:  hidden; float: left; display: inline; }
.fbOkBox dd { float: right; display: inline; width: 195px; color: #777;}
.fbOkBox dd.tit {font: 20px 'Microsoft YaHei','SimSun'; color: #c0c0c0; padding-bottom: 5px;}

/* 本地人 */
.localBox { margin-bottom: 20px;}
.localBox h2{font: 16px 'Microsoft YaHei','SimSun'; color:#444; padding-bottom: 10px;}
.localBox .localCon { padding:0 10px 20px; background: #f8f8f8; border-top: 1px solid #ddd; }
.localBox .localMain {  width: 270px; background: #fff; margin-top: 10px;}
.localBox .localMain dl { padding:15px 10px 10px; border-bottom: 1px solid #f4f4f4;}
.localBox .localMain dl dt,.localBox .localMain dl dt img { width: 50px; height: 50px; overflow:  hidden; display: block;}
.localBox .localMain dl dt { float: left;}
.localBox .localMain dl dd { width: 185px; float: right; overflow:  hidden; text-overflow: ellipsis; white-space: nowrap;}
.localBox .localMain dl dd.name { font: 14px 'Microsoft YaHei','SimSun'; padding-bottom: 10px; }
.localBox .localMain dl dd.text { color: #ccc;}
.localBox .localMain ul { padding: 0 10px 10px;}
.localBox .localMain ul li { padding:10px 0 10px 20px; border-bottom: 1px dashed #dcdcdc; background: url("/img/localIcon.jpg") no-repeat 5px 18px; white-space: nowrap; overflow:  hidden; text-overflow: ellipsis; }
.localBox .localMain ul li a { font-size: 14px; color: #535353;}
.localBox .localMain ul li a:hover { color: #ff9c00;}

/*container*/
#ym-window{overflow:hidden;font-size:12px;font-family:'宋体'; background:#fff;}
/*header*/
.ym-tl{padding-left:7px;height:42px;}
.ym-tr{padding-right:7px;height:42px;}
.ym-tc{height:35px;line-height:35px;padding:7px 7px 0 0;position:relative;}
.ym-ttc{height:3px}
.ym-header-text{font:18px 'Microsoft YaHei','SimSun'; color:#333;padding-left:10px;float:left;display:inline; height:35px; line-height:35px;}
.ym-header-tools{position:absolute;right:0;height:35px;padding-right:12px}
.ym-header-tools strong{display:none}
/*body*/
.ym-ml{padding-left:7px;}
.ym-mr{padding-right:7px;}
.ym-mc{padding:0;background-color:#fff;}
.ym-body{padding:0;font-size:12px;}
/*button*/
.ym-btn{text-align:right;padding-right:5px; background:#fff; padding:7px;}
/*footer*/
.ym-bl{padding-left:7px;margin-top:-1px}
.ym-br{padding-right:7px;}
.ym-bc{height:7px;font-size:3px;}
/*icon*/
.ymPrompt_alert{padding-left:90px;background:url(images/info.gif) no-repeat 20px 50%}
.ymPrompt_succeed{padding-left:90px;background:url(images/right.gif) no-repeat 20px 50%}
.ymPrompt_error{padding-left:90px;background:url(images/err.gif) no-repeat 20px 50%}
.ymPrompt_confirm{padding-left:90px;background:url(images/ask.gif) no-repeat 20px 50%}
.ymPrompt_alert .ym-content,.ymPrompt_succeed .ym-content,.ymPrompt_error .ym-content,.ymPrompt_confirm .ym-content{padding:50px 0 0}
/*图标公共定义*/
.ym-header-tools div{cursor:pointer;width:20px;height:20px;float:left;margin:8px 1px 0;}
.ymPrompt_close{background:url(images/ico.png) no-repeat 0 0}
.ymPrompt_closeHover{background:url(images/icohover.png) no-repeat 0 0}
.ymPrompt_max{background-position:0 -16px;}
.ymPrompt_min{background-position:0 0;}
.ymPrompt_normal{background-position:-16px -16px;}
/*取消确认按钮样式*/
input.btnStyle,input.dcancel{ width:60px; padding:3px 0;border:0 none;cursor:pointer;font-size:12px;border-radius:2px;}
input.btnStyle{color:#fff;background:#3eb1f0;}
input.dcancel{margin-right:5px;color:#666; background:#f0f0f0;}
input.btnStyle:hover,input.dcancel:hover { background:#f60; color:#fff;}


/*

    Zebra_DatePicker: a lightweight jQuery date picker plugin

    default stylesheet
    copyright (c) 2011 - 2012 Stefan Gabos
    http://stefangabos.ro/jquery/zebra-datepicker/

*/

.Zebra_DatePicker *                          { margin: 0; padding: 0; color: #666 }
.Zebra_DatePicker                            { position: absolute; background: #fff; border: 1px solid #ddd; display: none; z-index: 999; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px }

/* = GLOBALS
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker table                      { border-collapse: collapse; border-spacing: 0 }

.Zebra_DatePicker td,
.Zebra_DatePicker th                         { text-align: center; padding: 5px 0 }

.Zebra_DatePicker td                         { cursor: pointer }

.Zebra_DatePicker .dp_daypicker,
.Zebra_DatePicker .dp_monthpicker,
.Zebra_DatePicker .dp_yearpicker             { margin-top: 3px }

.Zebra_DatePicker .dp_daypicker td,
.Zebra_DatePicker .dp_daypicker th,
.Zebra_DatePicker .dp_monthpicker td,
.Zebra_DatePicker .dp_yearpicker td         { background: #fff; width: 30px;}

/* = HEADER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_header td             { color: #666 }

.Zebra_DatePicker .dp_header .dp_previous,
.Zebra_DatePicker .dp_header .dp_next       { width: 30px }

.Zebra_DatePicker .dp_header .dp_caption    { font-weight: bold }
.Zebra_DatePicker .dp_header .dp_hover      {  color:#999;}
.Zebra_DatePicker .dp_header .dp_blocked    { color: #888; cursor: default }

/* = DATEPICKER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_daypicker th          { background: #3eb1f0; color:#fff; border:none;}
.Zebra_DatePicker td.dp_not_in_month        { background: #F3F3F3; color: #CDCDCD; cursor: default }
.Zebra_DatePicker td.dp_weekend             { background: #fff }
.Zebra_DatePicker td.dp_weekend_disabled    { color: #CCC; cursor: default }
.Zebra_DatePicker td.dp_selected            { background: #f60; color: #FFF !important }
.Zebra_DatePicker td.dp_week_number         { background: #FFCC33; color: #555; cursor: text; font-style: italic }

/* = MONTHPICKER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_monthpicker td        { width: 33% }

/* = YEARPICKER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_yearpicker td         { width: 33% }

/* = FOOTER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_footer                { margin-top: 3px }
.Zebra_DatePicker .dp_footer td             { color: #FFF; padding: 2px; font-weight: bold }
.Zebra_DatePicker .dp_footer .dp_hover      { color: #999;}

/* = SOME MORE GLOBALS (MUST BE LAST IN ORDER TO OVERWRITE PREVIOUS PROPERTIES)
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker td.dp_current             { color: #fff; background:#3eb1f0; }
.Zebra_DatePicker td.dp_disabled_current    { color: #E38585 }
.Zebra_DatePicker td.dp_disabled            { background: #F3F3F3; color: #CDCDCD; cursor: default }
.Zebra_DatePicker td.dp_hover               { color:#999; }

/* = ICON
----------------------------------------------------------------------------------------------------------------------*/
button.Zebra_DatePicker_Icon                { position: absolute; width: 16px; height: 16px; background: url('calendar.png') no-repeat left top; text-indent: -9000px; border: none; cursor: pointer; margin: 0 0 0 5px; padding: 0; line-height: 0;visibility: hidden; }
button.Zebra_DatePicker_Icon_Disabled       { background-image: url('calendar-disabled.png') }
button.Zebra_DatePicker_Icon_Inside         { margin: 0 3px 0 0 }

/* Fix icon position in Chrome & Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    button.Zebra_DatePicker_Icon_Inside     { margin: 0 5px 0 0 }
}
