.list_border
{
	padding:5px;
	margin-bottom:5px;
	font-weight:200;
	background-color:#eee
}
.list_header
{
	padding-bottom:9px;
	margin:20px 0 10px;
	border-bottom:1px solid #aaa
}
.locationP
{
	width:15px; height:16px; background-position:0px -1298px; margin-right:7px; top:3px; *top:0px;
	background:url(/images/location.png)
}
.dateP
{
	width:15px; height:16px; background-position:2px -1324px; margin-right:7px; 
	top:3px;
	background:url(/images/date.png)
}